<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.middle.wcs.order.dao.OrderInfoMapper">

    <resultMap type="com.middle.wcs.order.entity.po.OrderInfo" id="OrderInfoMap">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="insertTime" column="insert_time" jdbcType="TIMESTAMP"/>
        <result property="batchId" column="batch_id" jdbcType="VARCHAR"/>
        <result property="productName" column="product_name" jdbcType="VARCHAR"/>
        <result property="trayCode" column="tray_code" jdbcType="VARCHAR"/>
        <result property="trayStatus" column="tray_status" jdbcType="VARCHAR"/>
        <result property="invalidFlag" column="invalid_flag" jdbcType="VARCHAR"/>
        <result property="spec" column="spec" jdbcType="VARCHAR"/>
        <result property="finishTime" column="finish_time" jdbcType="TIMESTAMP"/>
        <result property="weight" column="weight" jdbcType="VARCHAR"/>
        <result property="batchNum" column="batch_num" jdbcType="VARCHAR"/>
        <result property="source" column="source" jdbcType="VARCHAR"/>
        <result property="productCode" column="product_code" jdbcType="VARCHAR"/>
        <result property="orderId" column="order_id" jdbcType="VARCHAR"/>
        <result property="fseqId" column="fseq_id" jdbcType="VARCHAR"/>
        <result property="fentryId" column="fentry_id" jdbcType="VARCHAR"/>
        <result property="unloadPort" column="unload_port" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryHistoryOrderList" resultMap="OrderInfoMap">
        SELECT
            id,
            insert_time,
            batch_id,
            product_name,
            tray_code,
            tray_status,
            invalid_flag,
            spec,
            finish_time,
            weight,
            batch_num,
            source
        FROM
            dbo.order_info
        WHERE
            1 = 1
        <if test="invalidFlag != null and invalidFlag != ''">
            AND invalid_flag = #{invalidFlag}
        </if>
        <if test="batchId != null and batchId != ''">
            AND batch_id LIKE CONCAT('%', #{batchId}, '%')
        </if>
        <if test="productName != null and productName != ''">
            AND product_name LIKE CONCAT('%', #{productName}, '%')
        </if>
        <if test="trayCode != null and trayCode != ''">
            AND tray_code LIKE CONCAT('%', #{trayCode}, '%')
        </if>
        <if test="trayStatus != null and trayStatus != ''">
            AND tray_status = #{trayStatus}
        </if>
        <if test="spec != null and spec != ''">
            AND spec LIKE CONCAT('%', #{spec}, '%')
        </if>
        <if test="source != null and source != ''">
            AND source = #{source}
        </if>
        <if test="productionDate != null and productionDate != ''">
            AND CAST(insert_time AS DATE) = CAST(#{productionDate} AS DATE)
        </if>
        ORDER BY
            insert_time DESC
    </select>

    <select id="getLastUnloadGoods" resultMap="OrderInfoMap">
        SELECT TOP 1
            id,
            insert_time,
            batch_id,
            product_name,
            tray_code,
            tray_status,
            invalid_flag,
            spec,
            finish_time,
            weight,
            batch_num,
            source,
            product_code,
            order_id,
            fseq_id,
            fentry_id,
            unload_port
        FROM
            dbo.order_info
        WHERE
            tray_status = '4'
            AND finish_time &gt;= CAST(GETDATE() AS DATE)
        <if test="unloadPort != null and unloadPort != ''">
            AND unload_port = #{unloadPort}
        </if>
        ORDER BY
            finish_time DESC
    </select>

</mapper>
